*{  margin: 0;
    padding: 0;}

body {background-color:#666161;}

h1 {text-align: center;}

.row {margin-top: 7%;}

.offcanvas-body button {
    position: absolute;
    bottom: 15px;
    width: 98%;
    right: 10px;
    font-weight: bold;
    left: 5px;
    text-align: center;}